In [718]:
# Import libraries
import numpy as np
import pandas as pd

In [719]:
# Import files

train = pd.read_csv('../assets/train.csv')
test = pd.read_csv('../assets/test.csv')
weather = pd.read_csv('../assets/weather.csv')
spray = pd.read_csv('../assets/spray.csv')

In [720]:
# Set columns to see everything
pd.set_option('display.max_columns', 25)

In [721]:
# Check out each header
print train.columns
print test.columns
print weather.columns
print spray.columns

# Target is the WnvPresent column of train.
# No issues with column names that need renaming.

Index([u'Date', u'Address', u'Species', u'Block', u'Street', u'Trap',
       u'AddressNumberAndStreet', u'Latitude', u'Longitude',
       u'AddressAccuracy', u'NumMosquitos', u'WnvPresent'],
      dtype='object')
Index([u'Id', u'Date', u'Address', u'Species', u'Block', u'Street', u'Trap',
       u'AddressNumberAndStreet', u'Latitude', u'Longitude',
       u'AddressAccuracy'],
      dtype='object')
Index([u'Station', u'Date', u'Tmax', u'Tmin', u'Tavg', u'Depart', u'DewPoint',
       u'WetBulb', u'Heat', u'Cool', u'Sunrise', u'Sunset', u'CodeSum',
       u'Depth', u'Water1', u'SnowFall', u'PrecipTotal', u'StnPressure',
       u'SeaLevel', u'ResultSpeed', u'ResultDir', u'AvgSpeed'],
      dtype='object')
Index([u'Date', u'Time', u'Latitude', u'Longitude'], dtype='object')

In [722]:
# Ritika's EDA function for initial investigation

def eda(dataframe):
    print "missing values \n", dataframe.isnull().sum(), "\n"
    print "dataframe types \n", dataframe.dtypes, "\n"
    print "dataframe shape \n", dataframe.shape, "\n"
    print "dataframe describe \n", dataframe.describe(), "\n"
    for item in dataframe:
        print item
        print dataframe[item].nunique()

In [723]:
# Train EDA - Investigate header
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [724]:
# Train EDA - Summary function:
eda(train)

### Quick summary:
# No missing values
# Date:  Need to convert to a timeseries
# Species:  7 uniques
# Block:  Int; may already have a useful location grouping with this
# AddressNumberAndStreet & Latitude/Longitude:  136 unique traps, but 138 locations

missing values
Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
NumMosquitos              0
WnvPresent                0
dtype: int64

dataframe types
Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object

dataframe shape
(10506, 12)

dataframe describe
              Block      Latitude     Longitude  AddressAccuracy  \
count  10506.000000  10506.000000  10506.000000     10506.000000
mean      35.687797     41.841139    -87.699908         7.819532
std       24.339468      0.112742      0.096514         1.452921
min       10.000000     41.644612    -87.930995         3.000000
25%       12.000000     41.732984    -87.760070         8.000000
50%       33.000000     41.846283    -87.694991         8.000000
75%       52.000000     41.954690    -87.627796         9.000000
max       98.000000     42.017430    -87.531635         9.000000

       NumMosquitos    WnvPresent
count  10506.000000  10506.000000
mean      12.853512      0.052446
std       16.133816      0.222936
min        1.000000      0.000000
25%        2.000000      0.000000
50%        5.000000      0.000000
75%       17.000000      0.000000
max       50.000000      1.000000

Date
95
Address
138
Species
7
Block
64
Street
128
Trap
136
AddressNumberAndStreet
138
Latitude
138
Longitude
138
AddressAccuracy
4
NumMosquitos
50
WnvPresent
2

In [725]:
# Convert train's date to timeseries
train["Date"] = pd.to_datetime(train["Date"], format = "%Y-%m-%d")

# Confirm:
train["Date"].head(1)

0   2007-05-29
Name: Date, dtype: datetime64[ns]

In [726]:
# Test EDA - Investigate header
test.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [727]:
# Test EDA - Summary function:
eda(test)

### Quick summary:
# Also no missing values
# ID:  Likely drop as it appears to only identify the observation
# Date:  Also needs to be converted to a timeseries
# Block:  65 here vs. 64 in train.
# Locations:  149 traps with 151 location coordinates.  Both have a difference of 2.

missing values
Id                        0
Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
dtype: int64

dataframe types
Id                          int64
Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
dtype: object

dataframe shape
(116293, 11)

dataframe describe
                  Id          Block       Latitude      Longitude  \
count  116293.000000  116293.000000  116293.000000  116293.000000
mean    58147.000000      41.131100      41.849389     -87.693658
std     33571.041765      24.864726       0.106593       0.080699
min         1.000000      10.000000      41.644612     -87.930995
25%     29074.000000      18.000000      41.753411     -87.750938
50%     58147.000000      39.000000      41.862292     -87.694991
75%     87220.000000      61.000000      41.951866     -87.648860
max    116293.000000      98.000000      42.017430     -87.531635

       AddressAccuracy
count    116293.000000
mean          7.954357
std           1.252733
min           3.000000
25%           8.000000
50%           8.000000
75%           9.000000
max           9.000000

Id
116293
Date
95
Address
151
Species
8
Block
65
Street
139
Trap
149
AddressNumberAndStreet
151
Latitude
151
Longitude
151
AddressAccuracy
4

In [728]:
# Convert test's date to timeseries
test["Date"] = pd.to_datetime(test["Date"], format = "%Y-%m-%d")

# Confirm:
print test["Date"].head(1)  # Note: This doesn't show the nanosecond calculation
print test["Date"][0]       # This does

0   2008-06-11
Name: Date, dtype: datetime64[ns]
2008-06-11 00:00:00

In [729]:
# Spray EDA - Investigate header:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [730]:
# Spray EDA - Summary function:
eda(spray)

### Quick summary:
# Time:  Has missing values; compared with train and test, the time series is split between two columns
# Latitude/Longitude:  Continue to be properly recognized as float

missing values
Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

dataframe types
Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

dataframe shape
(14835, 4)

dataframe describe
           Latitude     Longitude
count  14835.000000  14835.000000
mean      41.904828    -87.736690
std        0.104381      0.067292
min       41.713925    -88.096468
25%       41.785001    -87.794225
50%       41.940075    -87.727853
75%       41.980978    -87.694108
max       42.395983    -87.586727

Date
10
Time
8583
Latitude
12887
Longitude
13007

In [731]:
# Spray EDA - Need a datetime column combining the two
# Combine two into 1 column, then convert to datetime

# Looking at other date times, the format is date, space, time
spray["DateTime"] = spray["Date"] + " " + spray["Time"]

# Convert this to timeseries
spray["DateTime"] = pd.to_datetime(spray["DateTime"], format = "%Y-%m-%d %I:%M:%S %p")

# Reference to set up correctly:
# https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior

In [732]:
# Confirm change
spray.DateTime.head(1)

0   2011-08-29 18:56:58
Name: DateTime, dtype: datetime64[ns]

In [733]:
# Weather EDA - Investigate header:

weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [734]:
# Weather EDA - Summary function:

eda(weather)

### Quick summary:
# No "Null" values, but M means "missing", and Station 2 shows missing times for Sunrise and Sunset
# Date:  Needs conversion to datetime
# Sunrise/Sunset:  Missing, and need conversion to time
# CodeSum:  98 uniques.  Worth trying to parse out?
# Tavg:  Not recognized as Int. Should be as it's just the average - can hand calculate if needed.
# Depart:  Departure from normal average.  Station 2's missing values
# WetBulb: "Lowest temperature reachable under current ambient conditions by the evaporation of water only"
# Heat, Cool:  Calculated vs. 65 degree temperature.  Unsure if 
# Depth:  2 unique values - 0 and M.  Drop?
# Water1:  All M.  Drop.
# SnowFall:  4 unique values.  Drop?
# PrecipTotal:  Needs to be Float.
# StnPressure:  Needs to be Float.
# SeaLevel:  Needs to be Float.  (SeaLevel = Pressure at Sea Level)
# ResultDir:  "RESULTANT DIRECTION - (WHOLE DEGREES)"
# AvgSpeed:  Needs to be Float.

# WetBulb source:  https://en.wikipedia.org/wiki/Wet-bulb_temperature

missing values
Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

dataframe types
Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

dataframe shape
(2944, 22)

dataframe describe
           Station         Tmax         Tmin     DewPoint  ResultSpeed  \
count  2944.000000  2944.000000  2944.000000  2944.000000  2944.000000
mean      1.500000    76.166101    57.810462    53.457880     6.960666
std       0.500085    11.461970    10.381939    10.675181     3.587527
min       1.000000    41.000000    29.000000    22.000000     0.100000
25%       1.000000    69.000000    50.000000    46.000000     4.300000
50%       1.500000    78.000000    59.000000    54.000000     6.400000
75%       2.000000    85.000000    66.000000    62.000000     9.200000
max       2.000000   104.000000    83.000000    75.000000    24.100000

         ResultDir
count  2944.000000
mean     17.494905
std      10.063609
min       1.000000
25%       7.000000
50%      19.000000
75%      25.000000
max      36.000000

Station
2
Date
1472
Tmax
63
Tmin
54
Tavg
60
Depart
42
DewPoint
54
WetBulb
48
Heat
31
Cool
31
Sunrise
122
Sunset
119
CodeSum
98
Depth
2
Water1
1
SnowFall
4
PrecipTotal
168
StnPressure
104
SeaLevel
102
ResultSpeed
190
ResultDir
36
AvgSpeed
178

In [735]:
# Investigate the columns to see how many "M" and "-" we have
print weather["Tmax"].value_counts().head(3)
print weather["Tmin"].value_counts().head(3)
print weather["Tavg"].value_counts().head(3)    
print weather["Depart"].value_counts().head(3)      # <--- Missing values
print weather["DewPoint"].value_counts().head(3)
print weather["WetBulb"].value_counts().head(3)
print weather["Heat"].value_counts().head(3)
print weather["Cool"].value_counts().head(3)
print weather["Sunrise"].value_counts().head(3)     # <--- Missing values
print weather["Sunset"].value_counts().head(3)      # <--- Missing values
print weather["CodeSum"].value_counts().head(3)     # <--- Missing/blank values
print weather["Depth"].value_counts().head(3)       # <--- 2 types - "M" and 0.  Drop?
print weather["Water1"].value_counts().head(3)      # <--- ALL "M"
print weather["SnowFall"].value_counts().head(4)    # <--- Only 4 types.  Most are "M" or 0.0
print weather["PrecipTotal"].value_counts().head(3) # --- Here down, unsure why not in already Float ---
print weather["StnPressure"].value_counts().head(3)
print weather["SeaLevel"].value_counts().head(3)
print weather["ResultSpeed"].value_counts().head(3)
print weather["AvgSpeed"].value_counts().head(3)

84    128
79    121
82    118
Name: Tmax, dtype: int64
63    121
65    111
60    109
Name: Tmin, dtype: int64
73    138
77    117
70    117
Name: Tavg, dtype: int64
M     1472
 2      93
-1      84
Name: Depart, dtype: int64
59    128
54    125
55    114
Name: DewPoint, dtype: int64
63    135
65    131
59    129
Name: WetBulb, dtype: int64
0    1870
4      88
1      86
Name: Heat, dtype: int64
 0    1147
 8     138
12     117
Name: Cool, dtype: int64
-       1472
0416     104
0417      64
Name: Sunrise, dtype: int64
-       1472
1931      96
1930      56
Name: Sunset, dtype: int64
         1609
RA        296
RA BR     238
Name: CodeSum, dtype: int64
M    1472
0    1472
Name: Depth, dtype: int64
M    2944
Name: Water1, dtype: int64
M      1472
0.0    1459
  T      12
0.1       1
Name: SnowFall, dtype: int64
0.00    1577
  T      318
0.01     127
Name: PrecipTotal, dtype: int64
29.34    128
29.28    124
29.26    123
Name: StnPressure, dtype: int64
30.00    96
29.94    85
29.98    85
Name: SeaLevel, dtype: int64
5.9    49
6.4    47
6.2    42
Name: ResultSpeed, dtype: int64
6.9    63
5.8    60
7.4    55
Name: AvgSpeed, dtype: int64

In [736]:
# Plan for sunrise/sunset:

# Pandas has pandas.DataFrame.fillna, which has a
# parameter "backfill".  Will just use those to forwardfill
# the times.  Need to convert the "-" values to Null.

# Point:  Number of daylight minutes effect?

conversion_list = []
for i in weather["Sunrise"]:
    if "-" in i:
        i = None
        conversion_list.append(i)
    else:
        i = i
        conversion_list.append(i)

weather["Sunrise"] = conversion_list
weather["Sunrise"].fillna(method='bfill', inplace=True)


conversion_list_2 = []
for i in weather["Sunset"]:
    if "-" in i:
        i = None
        conversion_list_2.append(i)
    else:
        i = i
        conversion_list_2.append(i)

# Apparently, some times were reported as __60 hrs instead of the next hour.
# Correcting here manually:
hrs_correction_list = []

for j in conversion_list_2:
    if j == "1660":
        j = "1700"
        hrs_correction_list.append(j)
    elif j == "1760":
        j = "1800"
        hrs_correction_list.append(j)
    elif j == "1860":
        j = "1900"
        hrs_correction_list.append(j)
    else:
        j = j
        hrs_correction_list.append(j)

weather["Sunset"] = hrs_correction_list
weather["Sunset"].fillna(method='bfill', inplace=True)

In [737]:
# Need to convert the Sunrise/Sunset to full datetime string before conversion

weather["Sunrise_DateTime"] = weather["Date"] + " " + weather["Sunrise"]
weather["Sunset_DateTime"] = weather["Date"] + " " + weather["Sunset"]

In [739]:
# Convert "Date" to timeseries
weather["Date"] = pd.to_datetime(weather["Date"], format = "%Y-%m-%d")

# Check
weather["Date"][1]

Timestamp('2007-05-01 00:00:00')

In [740]:
# Now can finally convert Sunrise/Sunset to datetime
weather["Sunrise_DateTime"] = pd.to_datetime(weather["Sunrise_DateTime"], format = "%Y-%m-%d %H%M")
weather["Sunset_DateTime"] = pd.to_datetime(weather["Sunset_DateTime"], format = "%Y-%m-%d %H%M")

# Check
print weather["Sunrise_DateTime"].head(3)
print weather["Sunset_DateTime"].head(3)

0   2007-05-01 04:48:00
1   2007-05-01 04:47:00
2   2007-05-02 04:47:00
Name: Sunrise_DateTime, dtype: datetime64[ns]
0   2007-05-01 18:49:00
1   2007-05-01 18:50:00
2   2007-05-02 18:50:00
Name: Sunset_DateTime, dtype: datetime64[ns]

In [741]:
# With all dates correctly recognized, 
# they may all need to be extracted to 
# a Year/Month/Date column to join everything back later.

# Either way, this conversion needed to be done
# to provide a joinable index.

In [742]:
# To fix average temperatures:
# Create a column subtracting the average from normal
# Backfill to get all values (Station 2 again)
# Convert "Depart" to have all Station 2 values

# Depart column has "M" but needs as null ("None")
depart_nulls = []
for i in weather["Depart"]:
    if "M" in i:
        i = None
        depart_nulls.append(i)
    else:
        i = i
        depart_nulls.append(int(i))
        
weather["Depart"] = depart_nulls

In [748]:
# Need to convert Tavg to int.
# Since this column somehow has missing values, computing manually

weather["Tavg_float"] = weather[["Tmax", "Tmin"]].mean(axis=1)

round_list = []
for i in weather["Tavg_float"]:
    i = int(round(i))
    round_list.append(i)
weather["Tavg_int"] = round_list

# Reference to do this:
# http://stackoverflow.com/questions/31818050/python-2-7-round-number-to-nearest-integer

# This way of rounding makes it match the original column, with imputed data
# of the same assumed Normal Temperature for Station 1

In [749]:
# Generate the backfilled Normal temperature for a day:
weather["Normal_Temp"] = weather["Tavg_int"] - weather["Depart"]
weather["Normal_Temp"].fillna(method='bfill', inplace=True)

In [750]:
# Now, last bit - Calculate a new "Depart" using the calculated normal
weather["Depart_calc"] = weather["Tavg_int"] - weather["Normal_Temp"]

In [751]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,...,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Sunrise_DateTime,Sunset_DateTime,Tavg_float,Tavg_int,Normal_Temp,Depart_calc
0,1,2007-05-01,83,50,67,14.0,51,56,0,2,0448,1849,...,0.00,29.10,29.82,1.7,27,9.2,2007-05-01 04:48:00,2007-05-01 18:49:00,66.5,67,53.0,14.0
1,2,2007-05-01,84,52,68,NaN,51,57,0,3,0447,1850,...,0.00,29.18,29.82,2.7,25,9.6,2007-05-01 04:47:00,2007-05-01 18:50:00,68.0,68,54.0,14.0
2,1,2007-05-02,59,42,51,-3.0,42,47,14,0,0447,1850,...,0.00,29.38,30.09,13.0,4,13.4,2007-05-02 04:47:00,2007-05-02 18:50:00,50.5,51,54.0,-3.0
3,2,2007-05-02,60,43,52,NaN,42,47,13,0,0446,1851,...,0.00,29.44,30.08,13.3,2,13.4,2007-05-02 04:46:00,2007-05-02 18:51:00,51.5,52,54.0,-2.0
4,1,2007-05-03,66,46,56,2.0,40,48,9,0,0446,1851,...,0.00,29.39,30.12,11.7,7,11.9,2007-05-03 04:46:00,2007-05-03 18:51:00,56.0,56,54.0,2.0

## Remaining datacleaning:

Decide on other columns
Impute any other data?
Figure out how to join on only the date part of the date columns of interest

Create the master dataframe to build models from.